
<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  
  <body>

    {{ partial "navigation.html" . }}

    <div class="container">

      <p>
        If you are interested in learning more and possibly enrolling in the 
        school fill out the form below or 
        <a href="mailto:susanhender@comcast.net?subject=Little Friends Registration">
          email our registrar</a>
        Susan Hender.
      </p>

      <iframe 
        src="https://docs.google.com/forms/d/e/1FAIpQLSc1_0FdIZma2VxhyTXOtOrGEMmiIr0LysJNeBEr8CG1YnNjZw/viewform?embedded=true" 
        width="450" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

    </div>
    <!-- /container -->

    {{ partial "footer.html" . }}

  </body>

</html>
