
<!doctype html>
<html lang="en">

  {{ partial "head.html" . }}
  
  <body>

    {{ partial "navigation.html" . }}

    <div class="container">

      <!-- Introduction rows -->
      <div class="row">
        <div class="col-sm-5 col-md-5 banner-text">
          At Little Friends Cooperative Nursery School, we provide for our 
          pre-schoolers an environment where they can learn through play about 
          themselves, others, and the world around them.

          <div class="call-to-action">
            <a href="info" class="btn btn-primary">Request information</a>
            <a href="about" class="btn btn-outline-secondary">Learn more</a>
          </div>
        </div>
        <div class="col-sm-7 col-md-7">
          <img src="{{ "images/banner_photo.jpg" | relURL }}" class="img-fluid"/>
        </div>
      </div>
      <!-- / Introduction rows -->

      <!-- Our Programs rows -->
      <div class="row">
        <div class="col-sm-12">
          <h1>Our Programs</h1>
        </div>
      </div>

      <div class="row

  
        </div><!-- / Three's Class -->
*Must be 2.5 years old by September 14
        *Tuesday and Thursday: 9:00 am to 12pm
        *Tuiton: $220/Month (Sep-Jun)


        
        <!-- Pre - K Class -->
        <div class="col-sm-4">
          <div class="program-box fours-class">
            <div class="program-title">Pre-K Class</div>
            <ul>
              <li>Must be 4 years old by Oct 1</li>
              <li>Monday, Wednesday, Friday: 9 am to 12:30 pm</li>
              <li>Tuition: $250/month (Sep - June)</li>
            </ul>
          </div>
        </div><!-- / Four's Class -->

      </div><!-- / Our Programs rows -->

    </div>

    {{ partial "footer.html" . }}

  </body>

</html>
